## Data preprocessing

In [1]:
# import dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import seaborn as sns
import matplotlib as plt
import psycopg2
import datetime as dt
#from python import flaot64

In [2]:
# load dataset
kick = pd.read_csv("Resources/ks_projects_2016.csv")
kickstarter = pd.read_csv("Resources/ks_projects_2018.csv")

C:\Users\carol\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
kick.head(3)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN

In [4]:
kickstarter.head(3)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00

In [5]:
# learn more about data
kick.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323750 entries, 0 to 323749
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              323750 non-null  int64
 1   name            323746 non-null  object
 2   category        323745 non-null  object
 3   main_category   323750 non-null  object
 4   currency        323750 non-null  object
 5   deadline        323750 non-null  object
 6   goal            323750 non-null  object
 7   launched        323750 non-null  object
 8   pledged         323750 non-null  object
 9   state           323750 non-null  object
 10  backers         323750 non-null  object
 11  country         323750 non-null  object
 12  usd pledged     319960 non-null  object
 13  Unnamed: 13     625 non-null     object
 14  Unnamed: 14     12 non-null      object
 15  Unnamed: 15     4 non-null       object
 16  Unnamed: 16     1 non-null       float64
dtypes: float64(1), int64(1), object(15)
memory usage: 42.0+ MB

In [6]:
kickstarter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                378661 non-null  int64
 1   name              378657 non-null  object
 2   category          378661 non-null  object
 3   main_category     378661 non-null  object
 4   currency          378661 non-null  object
 5   deadline          378661 non-null  object
 6   goal              378661 non-null  float64
 7   launched          378661 non-null  object
 8   pledged           378661 non-null  float64
 9   state             378661 non-null  object
 10  backers           378661 non-null  int64
 11  country           378661 non-null  object
 12  usd pledged       374864 non-null  float64
 13  usd_pledged_real  378661 non-null  float64
 14  usd_goal_real     378661 non-null  float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

In [7]:
# Drop some column
kick.drop(['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'],axis=1, inplace=True)

In [8]:
kick.columns

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged '],
      dtype='object')

In [9]:
kickstarter.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged', 'usd_pledged_real', 'usd_goal_real'],
      dtype='object')

In [10]:
# rename column
kick.rename(columns={'ID ': 'ID', 
                   'name ': 'name', 
                   'category ': 'category',
                   'main_category ' : 'main_category',
                   'currency ' : 'currency',
                   'deadline ' : 'deadline',
                   'goal ' : 'goal',
                   'launched ' : 'launched',
                   'pledged ' : 'pledged',
                   'state ' : 'state', 
                   'backers ' : 'backers',
                   'country ' : 'country',
                   'usd pledged ' : 'usd pledged'}, inplace = True)

In [11]:
kick.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged'],
      dtype='object')

In [12]:
# change data type kick to the same as kickstarter

kick['backers'] = pd.to_numeric(kick['backers'],  errors='coerce')
kick['backers'] = np.int64(kick['backers'])
kick['usd pledged'] = pd.to_numeric(kick['usd pledged'] , errors='coerce')
kick['pledged'] = pd.to_numeric(kick['pledged'] , errors='coerce')
kick['goal'] = pd.to_numeric(kick['goal'] , errors='coerce')

In [13]:
kick.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323750 entries, 0 to 323749
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ID             323750 non-null  int64
 1   name           323746 non-null  object
 2   category       323745 non-null  object
 3   main_category  323750 non-null  object
 4   currency       323750 non-null  object
 5   deadline       323750 non-null  object
 6   goal           323118 non-null  float64
 7   launched       323750 non-null  object
 8   pledged        323126 non-null  float64
 9   state          323750 non-null  object
 10  backers        323750 non-null  int64
 11  country        323750 non-null  object
 12  usd pledged    319337 non-null  float64
dtypes: float64(3), int64(2), object(8)
memory usage: 32.1+ MB

In [14]:
# ckech missing data
kick.isna().sum()

ID                  0
name                4
category            5
main_category       0
currency            0
deadline            0
goal              632
launched            0
pledged           624
state               0
backers             0
country             0
usd pledged      4413
dtype: int64

In [15]:
kickstarter.isna().sum()

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

In [16]:
# The date type 
kick['launched'] = pd.to_datetime(kick['launched'], errors='coerce').dt.date
kick['deadline'] = pd.to_datetime(kick['deadline'], errors='coerce').dt.date
kickstarter['launched'] = pd.to_datetime(kickstarter['launched'], errors='coerce' ).dt.date

In [17]:
# change the format of the date

    # change format for launched
kick['launched'] = pd.to_datetime(kick['launched'], dayfirst = False)
kick['launched'] = kick['launched'].dt.strftime('%m/%d/%Y')

    # change format for deadline
kick['deadline'] = pd.to_datetime(kick['deadline'], dayfirst = False)
kick['deadline'] = kick['deadline'].dt.strftime('%m/%d/%Y')

  
   # change format for launched
kickstarter['launched'] = pd.to_datetime(kickstarter['launched'], dayfirst = False)
kickstarter['launched'] = kickstarter['launched'].dt.strftime('%m/%d/%Y')

     # change format for deadline
kickstarter['deadline'] = pd.to_datetime(kickstarter['deadline'], dayfirst = False)
kickstarter['deadline'] = kickstarter['deadline'].dt.strftime('%m/%d/%Y')

In [18]:
kick.head(3)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,10/09/2015,1000.0,08/11/2015,0.0,failed,0,GB,0.0
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,02/26/2013,45000.0,01/12/2013,220.0,failed,3,US,220.0
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,04/16/2012,5000.0,03/17/2012,1.0,failed,1,US,1.0

In [19]:
kickstarter.head(3)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,10/09/2015,1000.0,08/11/2015,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,11/01/2017,30000.0,09/02/2017,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,02/26/2013,45000.0,01/12/2013,220.0,failed,3,US,220.0,220.0,45000.00

In [20]:
# Save DataFrame as csv after cleaning
kick.to_csv('Resources/kick.csv', index = False)
kickstarter.to_csv('Resources/kickstarter.csv', index = False)

In [21]:
kick.columns = [c.lower() for c in kick.columns]
kickstarter.columns = [c.lower() for c in kickstarter.columns]

In [22]:
# Create an engine instance
# connect to postgres
engine = create_engine(f'postgresql://postgres:Blome00228@localhost:5433/kickstarter')
conn = engine.connect()

In [23]:
# load or import the table into sql
kick.to_sql("kick", conn,  if_exists='replace', index = False)
kickstarter.to_sql("kickstarter", conn,  if_exists='replace', index = False)