## Data preprocessing

In [1]:
# import dependencies
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
import seaborn as sns
import matplotlib as plt
import psycopg2
import datetime as dt
#from python import flaot64

In [2]:
# load dataset
kick = pd.read_csv("Resources/ks_projects_2016.csv")
kickstarter = pd.read_csv("Resources/ks_projects_2018.csv")

C:\Users\carol\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (13,14,15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
kick.head(3)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000,2015-08-11 12:12:28,0,failed,0,GB,0,NaN,NaN,NaN,NaN
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000,2013-01-12 00:20:50,220,failed,3,US,220,NaN,NaN,NaN,NaN
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000,2012-03-17 03:24:11,1,failed,1,US,1,NaN,NaN,NaN,NaN

In [4]:
kickstarter.head(3)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02 04:43:57,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0,220.0,45000.00

In [5]:
# learn more about data
kick.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323750 entries, 0 to 323749
Data columns (total 17 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   ID              323750 non-null  int64
 1   name            323746 non-null  object
 2   category        323745 non-null  object
 3   main_category   323750 non-null  object
 4   currency        323750 non-null  object
 5   deadline        323750 non-null  object
 6   goal            323750 non-null  object
 7   launched        323750 non-null  object
 8   pledged         323750 non-null  object
 9   state           323750 non-null  object
 10  backers         323750 non-null  object
 11  country         323750 non-null  object
 12  usd pledged     319960 non-null  object
 13  Unnamed: 13     625 non-null     object
 14  Unnamed: 14     12 non-null      object
 15  Unnamed: 15     4 non-null       object
 16  Unnamed: 16     1 non-null       float64
dtypes: float64(1), int64(1), object(15)
memory usage: 42.0+ MB

In [6]:
# Drop some column
kick.drop(['Unnamed: 13', 'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16'],axis=1, inplace=True)

In [7]:
kickstarter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                378661 non-null  int64
 1   name              378657 non-null  object
 2   category          378661 non-null  object
 3   main_category     378661 non-null  object
 4   currency          378661 non-null  object
 5   deadline          378661 non-null  object
 6   goal              378661 non-null  float64
 7   launched          378661 non-null  object
 8   pledged           378661 non-null  float64
 9   state             378661 non-null  object
 10  backers           378661 non-null  int64
 11  country           378661 non-null  object
 12  usd pledged       374864 non-null  float64
 13  usd_pledged_real  378661 non-null  float64
 14  usd_goal_real     378661 non-null  float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

In [8]:
kick.columns

Index(['ID ', 'name ', 'category ', 'main_category ', 'currency ', 'deadline ',
       'goal ', 'launched ', 'pledged ', 'state ', 'backers ', 'country ',
       'usd pledged '],
      dtype='object')

In [9]:
# rename column
kick.rename(columns={'ID ': 'ID', 
                   'name ': 'name', 
                   'category ': 'category',
                   'main_category ' : 'main_category',
                   'currency ' : 'currency',
                   'deadline ' : 'deadline',
                   'goal ' : 'goal',
                   'launched ' : 'launched',
                   'pledged ' : 'pledged',
                   'state ' : 'state', 
                   'backers ' : 'backers',
                   'country ' : 'country',
                   'usd pledged ' : 'usd pledged'}, inplace = True)

In [10]:
kick.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged'],
      dtype='object')

In [11]:
kickstarter.columns

Index(['ID', 'name', 'category', 'main_category', 'currency', 'deadline',
       'goal', 'launched', 'pledged', 'state', 'backers', 'country',
       'usd pledged', 'usd_pledged_real', 'usd_goal_real'],
      dtype='object')

In [12]:
# change data type kick to the same as kickstarter

kick['backers'] = pd.to_numeric(kick['backers'],  errors='coerce')
kick['backers'] = np.int64(kick['backers'])
kick['usd pledged'] = pd.to_numeric(kick['usd pledged'] , errors='coerce')
kick['pledged'] = pd.to_numeric(kick['pledged'] , errors='coerce')
kick['goal'] = pd.to_numeric(kick['goal'] , errors='coerce')

In [13]:
kick.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 323750 entries, 0 to 323749
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   ID             323750 non-null  int64
 1   name           323746 non-null  object
 2   category       323745 non-null  object
 3   main_category  323750 non-null  object
 4   currency       323750 non-null  object
 5   deadline       323750 non-null  object
 6   goal           323118 non-null  float64
 7   launched       323750 non-null  object
 8   pledged        323126 non-null  float64
 9   state          323750 non-null  object
 10  backers        323750 non-null  int64
 11  country        323750 non-null  object
 12  usd pledged    319337 non-null  float64
dtypes: float64(3), int64(2), object(8)
memory usage: 32.1+ MB

In [14]:
# ckech missing data
kick.isna().sum()

ID                  0
name                4
category            5
main_category       0
currency            0
deadline            0
goal              632
launched            0
pledged           624
state               0
backers             0
country             0
usd pledged      4413
dtype: int64

In [15]:
kickstarter.isna().sum()

ID                     0
name                   4
category               0
main_category          0
currency               0
deadline               0
goal                   0
launched               0
pledged                0
state                  0
backers                0
country                0
usd pledged         3797
usd_pledged_real       0
usd_goal_real          0
dtype: int64

In [16]:
# check the type of 
kick['state'].unique()

array(['failed', 'canceled', 'successful', 'live', 'undefined',
       'suspended', '4262', '3984', '525', '0', '3035', '3273', '590',
       '23924', '12306', '13675', '2', '4690', '4488.01', '687', '450',
       '16185', '80', '1495', '20', '14309.36', '2011-06-04 01:17:48',
       '8542', '3363', '950', '1800.5', '352', '1320', '18', '2161',
       '2016-06-28 21:36:59', '331', '17861', '1', '2630', '1085', '3711',
       '103', '8609.6', '312', '11044', '5600.65', '630', '1010', '178',
       '2530', '3671', '65', '5', '4451', '16', '2000', '377', '125',
       '6169', '90', '765', '218.5', '1850', '166', '2107', '63', '10',
       '3300', '306', '13', '400', '7703', '650', '800', '4287', '1056',
       '5940', '45', '1827', '10890.45', '245', '276', '200', '30', '6',
       '797', '6126', '175', '12201', '3605.13', '1200', '325', '2632',
       '7271', '46', '2016-02-18 21:40:23', '465', '9430.8', '2308',
       '310', '7470', '2759', '9857.8', '6453', '6189', '6093', '51',
       '860', '6442', '390', '1595', '1763.47', '130', '11315.5', '25',
       '3141', '218.75', '1700', '504', '641', '100', '2331', '763',
       '115', '255', '5656.43', '50', '514', '3285.11', '109', '251',
       '1230', '1600', '890', '1661', '20223', '171', '5010', '157',
       '381', '3320', '1322', '1403', '14032.77', '191', '3280',
       '6983.18', '575', '1404', '55', '900', '477', '320', '2312',
       '4415', '14159', '26', '1400', '9500', '24780', '235', '270',
       '3333', '500', '37', '6207', '202', '1397', '27777', '106', '15',
       '1421', '971', '2016-02-22 21:57:30', '70', '1035', '258', '1146',
       '6323', '8', '7554', '422.38', '8047', '278', '1191', '4417',
       '110', '343', '640', '41', '8494', '130.16', '180', '15816', '36',
       '35723', '1753', '86', '20000', '1301', '7542', '10564', '345',
       '7839', '506', '7492', '6696', '157323.21', '21', '301', '4354',
       '1669', '846', '239', '2338', '485', '3288', '145', '5275.01',
       '9210.69', '33.06', '741', '150', '35', '30112', '9337', '936',
       '15096', '165', '360', '1327.89', '1111.11', '5425.64', '17169',
       '9951', '81', '451', '410', '721', '498', '85', '938', '2614',
       '2503', '710', '2927', '5556', '290', '38', '1181', '27660',
       '9187', '2053', '118', '2058', '475', '1731', '516', '791', '6790',
       '300', '497', '8084', '244321', '25651.99', '515', '625', '20658',
       '6972.6', '1900', '31', '201', '2721', '2742', '31657', '75',
       '2408', '7562', '170', '751', '1598', '490', '3495', '40', '1822',
       '4685', '7000.58', '3660', '46653', '2290', '3065.7', '1295',
       '2845', '17350', '29', '187', '12484', '225', '31813', '97',
       '11558', '2718', '535', '3501', '2015-09-08 22:08:39', '876',
       '700', '5831', '1665', '2571.31', '316', '5797', '63.01', '2142',
       '38451', '15361', '5621', '3185', '8040', '2013-01-03 03:45:14',
       '39', '365', '140.01', '11565', '6203', '253', '755', '1270',
       '655', '260', '1756', '12', '95', '22', '123', '4507', '52670',
       '8253', '4367', '1410', '621', '1366', '2531', '445', '75000', '7',
       '384', '1690', '6430', '6091', '2015-10-10 01:00:00', '1685',
       '396', '3036', '433', '15665', '3041', '2015-01-28 13:53:56',
       '10770', '615', '35.01', '2375', '174', '856', '52', '266', '4150',
       '505', '1296', '82', '8157', '1342', '722', '250', '12590',
       '7253.01', '850', '692', '109301.56', '28751.5', '560', '3075',
       '9748', '2398', '2016-02-15 17:24:27', '8260', '533', '2337',
       '160', '111307.22', '19224', '7326.46', '5661', '2867', '1100',
       '1520', '135', '2026', '1577', '545', '2356', '11050', '865',
       '7281.1', '296', '61', '179', '2501', '2634'], dtype=object)

In [17]:
list = ['successfull', 'failed', 'lived', 'suspended', 'undefined', 'canceled']
# keep the state in our  list
kick = kick[kick['state'].isin(list)]         
kick

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09 11:36:00,1000.0,2015-08-11 12:12:28,0.0,failed,0,GB,0.0
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26 00:20:50,45000.0,2013-01-12 00:20:50,220.0,failed,3,US,220.0
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16 04:24:11,5000.0,2012-03-17 03:24:11,1.0,failed,1,US,1.0
3,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29 01:00:00,19500.0,2015-07-04 08:35:03,1283.0,canceled,14,US,1283.0
6,1000030581,Chaser Strips. Our Strips make Shots their B*tch!,Drinks,Food,USD,2016-03-17 19:05:12,25000.0,2016-02-01 20:05:12,453.0,failed,40,US,453.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
323745,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17 02:35:30,50000.0,2014-09-17 02:35:30,25.0,canceled,1,US,25.0
323746,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19 03:35:14,1500.0,2011-06-22 03:35:14,155.0,failed,5,US,155.0
323747,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16 05:59:00,15000.0,2010-07-01 19:40:30,20.0,failed,1,US,20.0
323748,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13 02:00:00,15000.0,2016-01-13 18:13:53,200.0,failed,6,US,200.0
323749,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16 09:07:47,2000.0,2011-07-19 09:07:47,524.0,failed,17,US,524.0

In [18]:
kickstarter['state'].unique()

array(['failed', 'canceled', 'successful', 'live', 'undefined',
       'suspended'], dtype=object)

In [19]:
kick['country'].unique()

array(['GB', 'US', 'CA', 'NO', 'IT', 'DE', 'IE', 'ES', 'AU', 'N,"0', 'NL',
       'BE', 'DK', 'SE', 'FR', 'LU', 'AT', 'NZ', 'CH', 'SG', 'HK', 'MX'],
      dtype=object)

In [20]:
# Drop rows with invalid values (?)
kick = kick[(kick.country != 'N,"0')]

In [21]:
kick['country'].unique()

array(['GB', 'US', 'CA', 'NO', 'IT', 'DE', 'IE', 'ES', 'AU', 'NL', 'BE',
       'DK', 'SE', 'FR', 'LU', 'AT', 'NZ', 'CH', 'SG', 'HK', 'MX'],
      dtype=object)

In [22]:
kickstarter['country'].unique()

array(['GB', 'US', 'CA', 'AU', 'NO', 'IT', 'DE', 'IE', 'MX', 'ES', 'N,0"',
       'SE', 'FR', 'NL', 'NZ', 'CH', 'AT', 'DK', 'BE', 'HK', 'LU', 'SG',
       'JP'], dtype=object)

In [23]:
# Drop rows with invalid values (?)
kickstarter = kickstarter[(kickstarter.country != 'N,0"')]

In [24]:
kickstarter['country'].unique()

array(['GB', 'US', 'CA', 'AU', 'NO', 'IT', 'DE', 'IE', 'MX', 'ES', 'SE',
       'FR', 'NL', 'NZ', 'CH', 'AT', 'DK', 'BE', 'HK', 'LU', 'SG', 'JP'],
      dtype=object)

In [25]:
# # The date type 
kick['launched'] = pd.to_datetime(kick['launched'], errors='coerce').dt.date
kick['deadline'] = pd.to_datetime(kick['deadline'], errors='coerce').dt.date
kickstarter['launched'] = pd.to_datetime(kickstarter['launched'], errors='coerce' ).dt.date  
kickstarter['deadline'] = pd.to_datetime(kickstarter['deadline'], errors='coerce' ).dt.date

<ipython-input-25-706e1f2c70f3>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kick['launched'] = pd.to_datetime(kick['launched'], errors='coerce').dt.date
<ipython-input-25-706e1f2c70f3>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kick['deadline'] = pd.to_datetime(kick['deadline'], errors='coerce').dt.date

In [26]:
# # change the format of the date

#     # change format for launched
# kick['launched'] = pd.to_datetime(kick['launched'], dayfirst = False)
# kick['launched'] = kick['launched'].dt.strftime('%m/%d/%Y')

#     # change format for deadline
# kick['deadline'] = pd.to_datetime(kick['deadline'], dayfirst = False)
# kick['deadline'] = kick['deadline'].dt.strftime('%m/%d/%Y')

  
#    # change format for launched
# kickstarter['launched'] = pd.to_datetime(kickstarter['launched'], dayfirst = False)
# kickstarter['launched'] = kickstarter['launched'].dt.strftime('%m/%d/%Y')

#      # change format for deadline
# kickstarter['deadline'] = pd.to_datetime(kickstarter['deadline'], dayfirst = False)
# kickstarter['deadline'] = kickstarter['deadline'].dt.strftime('%m/%d/%Y')

In [27]:
kick.head(3)

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11,0.0,failed,0,GB,0.0
1,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12,220.0,failed,3,US,220.0
2,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17,1.0,failed,1,US,1.0

In [28]:
kickstarter

,ID,name,category,main_category,currency,deadline,goal,launched,pledged,state,backers,country,usd pledged,usd_pledged_real,usd_goal_real
0,1000002330,The Songs of Adelaide & Abullah,Poetry,Publishing,GBP,2015-10-09,1000.0,2015-08-11,0.0,failed,0,GB,0.0,0.0,1533.95
1,1000003930,Greeting From Earth: ZGAC Arts Capsule For ET,Narrative Film,Film & Video,USD,2017-11-01,30000.0,2017-09-02,2421.0,failed,15,US,100.0,2421.0,30000.00
2,1000004038,Where is Hank?,Narrative Film,Film & Video,USD,2013-02-26,45000.0,2013-01-12,220.0,failed,3,US,220.0,220.0,45000.00
3,1000007540,ToshiCapital Rekordz Needs Help to Complete Album,Music,Music,USD,2012-04-16,5000.0,2012-03-17,1.0,failed,1,US,1.0,1.0,5000.00
4,1000011046,Community Film Project: The Art of Neighborhoo...,Film & Video,Film & Video,USD,2015-08-29,19500.0,2015-07-04,1283.0,canceled,14,US,1283.0,1283.0,19500.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
378656,999976400,ChknTruk Nationwide Charity Drive 2014 (Canceled),Documentary,Film & Video,USD,2014-10-17,50000.0,2014-09-17,25.0,canceled,1,US,25.0,25.0,50000.00
378657,999977640,The Tribe,Narrative Film,Film & Video,USD,2011-07-19,1500.0,2011-06-22,155.0,failed,5,US,155.0,155.0,1500.00
378658,999986353,Walls of Remedy- New lesbian Romantic Comedy f...,Narrative Film,Film & Video,USD,2010-08-16,15000.0,2010-07-01,20.0,failed,1,US,20.0,20.0,15000.00
378659,999987933,BioDefense Education Kit,Technology,Technology,USD,2016-02-13,15000.0,2016-01-13,200.0,failed,6,US,200.0,200.0,15000.00
378660,999988282,Nou Renmen Ayiti! We Love Haiti!,Performance Art,Art,USD,2011-08-16,2000.0,2011-07-19,524.0,failed,17,US,524.0,524.0,2000.00

In [29]:
# Save DataFrame as csv after cleaning
kick.to_csv('Resources/kick.csv', index = False)
kickstarter.to_csv('Resources/kickstarter.csv', index = False)

In [30]:
kick.columns = [c.lower() for c in kick.columns]
kickstarter.columns = [c.lower() for c in kickstarter.columns]

In [31]:
# Create an engine instance
# connect to postgres
engine = create_engine(f'postgresql://postgres:Blome00228@localhost:5433/kickstarter')
conn = engine.connect()

In [32]:
# load or import the table into sql
kick.to_sql("kick", conn,  if_exists='replace', index = False)
kickstarter.to_sql("kickstarter", conn,  if_exists='replace', index = False)